body {
        margin:0;
        font-size: 8pt;
        color: #999; 
        font-family: Trebuchet MS, Tahoma, Arial;
	background-attachment: fixed;
	background-image: url("/nagios_ng/images/background.jpg");
	background-repeat: repeat;
}

#logo {
	display: none;
}

.title {
        padding: 5px 0px 5px 40px;
        font-size: 42px; 
}

table {
        font-size: 8pt;
	background: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        border: 1px solid #e1e1e1;
	border-collapse: collapse;
        margin : 10px 5px 10px 5px;
} 

table.problem {
        font-size: 8pt;
        border: 1px solid #e1e1e1;
	border-collapse:collapse;
        margin : 0px 0px 0px 0px;
} 

td { 
	border: 1px solid #e1e1e1;
        padding: 1px 6px 1px 6px;
}

hr {
	border: 1px solid #999;
}

.output {
        font-size: 8pt;
}

.table_headers { 
        background: #444;
}

.count {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 1px;
}

.hosts_down { 
        color: #333; 
        background: #ff5555;
}

.hosts_down_ok { 
        color: #333; 
        background: #ffa5a5;
}

.hosts_up { 
        color: #333; 
        background: #55ff55;
}

.services_nok { 
        color: #333; 
        background: #ff5555;
}

.services_nok_ok { 
        color: #333; 
        background: #ffa5a5;
}

.services_warning { 
        color: #333; 
        background: #ffb535;
}

.services_unknown { 
        color: #333; 
        background: #d5d5d5;
}

.services_ok { 
        color: #333; 
        background: #55ff55;
}

.nop { 
        background: transparent;
}

a { 
        color: inherit; 
        text-decoration: none;
}

a.click {
        color: #DDD; 
}

a.click:hover {
        color: #DDD; 
}

#wrapper {
}

#main {  
        padding: 2em 0em 2em 2em;
        margin: 0 10px 0 10px;
}

#footer {
        clear:both;
        font-size: 8px;
        text-align: center;
}

.legend { 
        float: right;
        margin: 0em 2em 1em 0em;
}

.submit { 
        padding: 2em 0em 1em 8em;  
}   

.error { 
        color: #ff0000;
}

input, textarea { 
        font-size: 8px;
        padding: 0px;
        margin: 1px;                        
	display: inline;
        border: none ;
}

select, option { 
        font-size: 9px;
        padding: 0px;
        margin: 1px;                        
	border: 1px solid #e1e1e1;
}

#select_hosts {
	position: absolute;
	top: 35px;
	right: 35px;
}

#ajax-process {
	position: absolute;
	height: 1em;
	right: 0px;
	top: 0px;
	background-color: #e24c4c;
	color: #eee;
	font-weight: bolder;
	padding: 2px;
	display: none;
	z-index: 101;
}

