body {
        margin:0;
        font-size: 18pt;
        color: #999; 
        font-family: Arial;
}

#logo {
	display: none;
	
}

table {
        border: 1px solid #e1e1e1;
	border-collapse: collapse;
        margin : 10px 5px 10px 5px;
} 

table.problem {
        border: 1px solid #e1e1e1;
	border-collapse:collapse;
        margin : 0px 0px 0px 0px;
} 

td { 
	border: 1px solid #e1e1e1;
        padding: 1px 6px 1px 6px;
}

hr {
	border: 0px solid #FFF;
}

.count {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 1px;
}

.hosts_down { 
        background: #ff5555;
}

.hosts_down_ok { 
        background: #ffa5a5;
}

.hosts_up { 
        background: #55ff55;
}

.services_nok { 
        background: #ff5555;
}

.services_nok_ok { 
        background: #ffa5a5;
}

.services_warning { 
        background: #ffb535;
}

.services_unknown { 
        background: #d5d5d5;
}

.services_ok { 
        background: #55ff55;
}

.nop { 
        background: transparent;
}

a { 
        color: #999; 
        text-decoration: none;
}

a.click {
        color: #999; 
}

a.click:hover {
        color: #DDD; 
}


#main {  
        padding: 2em 0em 2em 2em;
        margin: 0 10px 0 10px;
}

#footer {
        clear:both;
        font-size: 8px;
        text-align: center;
}

.legend { 
        float: right;
        margin: 0em 2em 1em 0em;
}

.submit { 
        padding: 2em 0em 1em 8em;  
}   

.error { 
        color: #ff0000;
}

input, textarea { 
        padding: 0px;
        margin: 1px;                        
	display: none;
        border: none ;
}

select, option { 
        padding: 0px;
        margin: 1px;                        
	border: 1px solid #e1e1e1;
}

#select_hosts {
	position: absolute;
	top: 35px;
	right: 35px;
}

#ajax-process {
	position: absolute;
	height: 1em;
	right: 0px;
	top: 0px;
	background-color: #e24c4c;
	color: #eee;
	font-weight: bolder;
	padding: 2px;
	display: none;
	z-index: 101;
}

