body {
        margin:0;
        font-size: 8pt;
        color: #5A7A7E; 
        font-family: Trebuchet MS, Tahoma, Arial;
        background-color: #BDBDBD;
}

.title {
        padding: 5px 0px 5px 40px;
        font-size: 42px; 
        color: #A8A8A8;
}

table {
        font-size: 8pt;
        background-color: #FFFFFF;
        border: 1px solid #e1e1e1;
	border-collapse: collapse;
        margin : 10px 5px 10px 5px;
} 

table.problem {
        font-size: 8pt;
        background-color: #FFFFFF;
        border: 1px solid #e1e1e1;
	border-collapse:collapse;
        margin : 0px 0px 0px 0px;
} 

td { 
	border: 1px solid #d1d1d1;
        padding: 1px 6px 1px 6px;
        background: #f5f5f5;
}

hr {
        color: #5A7A7E; 
	border: 2px solid #d1d1d1;
}

.output {
        font-size: 8pt;
}

.table_headers { 
        background: #e5e5e5;
}

.count {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1px;
}

.hosts_down { 
        background: #ff7575;
}

.hosts_down_ok { 
        background: #ffd5d5;
}

.hosts_up { 
        background: #75ff75;
}

.services_nok { 
        background: #ff7575;
}

.services_nok_ok { 
        background: #ffd5d5;
}

.services_warning { 
        background: #fff535;
}

.services_unknown { 
        background: #d5d5d5;
}

.services_ok { 
        background: #75ff75;
}

.nop { 
        background: transparent;
}

a { 
        color: #5A7A7E; 
        text-decoration: none;
}

a.click {
        color: #5A7A7E; 
}

a.click:hover {
        color: #FACAAE; 
}

#wrapper {
        background-color: #E5E5E5;
        background-repeat: no-repeat;
}

#main {  
        background-color: #FFFFFF;
        padding: 2em 0em 2em 2em;
        margin: 0 10px 0 10px;
        background-repeat: repeat-y;
        background-position: right;
}

#footer {
        clear:both;
        font-size: 8px;
        text-align: center;
}

.legend { 
        float: right;
        margin: 0em 2em 1em 0em;
}

.submit { 
        padding: 2em 0em 1em 8em;  
}   

.error { 
        color: #ff0000;
}

input, textarea { 
        font-size: 8px;
        padding: 0px;
        margin: 1px;                        
	display: inline;
        border: none ;
}

select, option { 
        font-size: 9px;
        padding: 0px;
        margin: 1px;                        
	border: 1px solid #e1e1e1;
}

#select_hosts {
	position: absolute;
	top: 35px;
	right: 35px;
}

#ajax-process {
	position: absolute;
	height: 1em;
	right: 0px;
	top: 0px;
	background-color: #e24c4c;
	color: #eee;
	font-weight: bolder;
	padding: 2px;
	display: none;
	z-index: 101;
}

#slidemenubar {
	position:absolute;
        margin: 0;
        font-family: Trebuchet MS, Tahoma, Arial;
        font-size: 9pt;
        background-color: #FFFFFF;
	layer-background-color:#F2F2F2;
        border: 1px solid #e1e1e1;
	padding : 8px 0px 8px 8px;
}
